@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto; 
}

.container {
    background-color: #f3f5f8;
    padding: 20px;
}

.logo {
    font-size: 24px; /* Increased logo font size */
    font-weight: 800;
    color: #30503a; /* Changed to a contrasting color */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px; /* Added margin for spacing */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #30503a;
}

.navItems {
    display: flex;
}

.navItems li {
    list-style: none;
    margin: 0 15px; /* Reduced margin for better spacing */
}

.navItems li a {
    font-size: 18px;
    color: #f3f5f8;
    text-decoration: none;
    text-transform: capitalize;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 10px;
    font-size: 16px;
}

.search-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #f3f5f8;
    color: #30503a;
    border: none;
    cursor: pointer;
}

.resultado {
    margin-top: 20px; /* Spacing above results */
}

textarea {
    width: 100%;
    font-size: 16px; /* Adjusted font size */
    padding: 10px;
}





/* Adiciona regras de mídia para tornar o layout responsivo */
@media only screen and (min-width: 768px) and (max-widht: 1024px) {

    .logo {
        font-size: 30px; /* Reduz o tamanho da fonte do logo */
    }

    .wrapper {
        padding: 10px; /* Reduz o preenchimento */
    }
    .texto {
        margin-top: 10px; /* Ajuste a distância do topo conforme necessário */
        margin-left: 5%; /* Ajuste a distância da esquerda conforme necessário */
        width: 10%; /* Ajuste a largura conforme necessário */
    }
    .container{
        padding: 50px;

    }
}



