@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden; /* Removido overflow-y: scroll para evitar a barra de rolagem horizontal em dispositivos móveis */
}

.container {
    background-color: #f3f5f8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Centraliza os itens verticalmente */
    height: 80px;
    background-color: #30503a;
}

.logo {
    font-size: 20px; /* Aumentado o tamanho da fonte para o logo */
    font-weight: 800;
    color: #f3f5f8;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 5px; /* Movendo o logo para a direita */
}


.navItems {
    display: flex;
}

.navItems li {
    list-style: none;
    margin: 0 10px; /* Reduzido o espaçamento entre os itens */
}

.navItems li a {
    font-size: 18px; /* Reduzido o tamanho da fonte para dispositivos móveis */
    color: #f3f5f8;
    text-decoration: none;
    text-transform: capitalize;
}

.wrapper {
    display: flex;
    flex-direction: column; /* Alterado para uma disposição em coluna para empilhar os elementos */
    align-items: center;
    padding: 20px; /* Adicionado preenchimento para espaçamento nos dispositivos móveis */
}

.topline {
    font-size: 18px; /* Reduzido o tamanho da fonte para dispositivos móveis */
    letter-spacing: 3px;
    color: #30503a;
    margin-bottom: 30px;
    text-align: center; /* Centralizado o texto */
}

h1 {
    font-size: 2.5em; /* Reduzido o tamanho da fonte para dispositivos móveis */
    font-weight: 500;
    color: #30503a;
    margin-bottom: 20px;
    text-align: center; /* Centralizado o texto */
}

p {
    font-size: 16px; /* Reduzido o tamanho da fonte para dispositivos móveis */
    color: black;
    margin-bottom: 20px;
    text-align: center; /* Centralizado o texto */
}

.btns {
    display: flex;
    justify-content: center; /* Centralizado os botões */
    width: 100%;
}

button {
    font-size: 14px;
    font-weight: 400;
    color: #f3f5f8;
    background-color: #30503a;
    padding: 8px 14px;
    margin: 0 5px; /* Adicionado espaçamento entre os botões */
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 20px; /* Ajustes adicionais para telas menores */
    }

    .navItems li a {
        font-size: 16px; /* Ajustes adicionais para telas menores */
    }

    .topline {
        font-size: 16px; /* Ajustes adicionais para telas menores */
    }

    h1 {
        font-size: 2em; /* Ajustes adicionais para telas menores */
    }

    p {
        font-size: 14px; /* Ajustes adicionais para telas menores */
    }
}
